<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading && pokemon">
  <ion-card>
    <ion-img [src]="pokemon.sprites.other['official-artwork'].front_default"></ion-img>
    <ion-card-header>
      <ion-card-title class="capitalize">{{ pokemon.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><strong>Tipos:</strong></ion-label>
          <ion-badge *ngFor="let type of pokemon.types" color="primary" class="capitalize" style="margin-left: 4px;">
            {{ type.type.name }}
          </ion-badge>
        </ion-item>

        <ion-item>
          <ion-label><strong>Habilidades:</strong></ion-label>
          <span class="capitalize">
            {{ pokemon.abilities.map(a => a.ability.name).join(', ') }}
          </span>
        </ion-item>

        <ion-item>
          <ion-label><strong>Altura:</strong></ion-label>
          {{ pokemon.height / 10 }} m
        </ion-item>

        <ion-item>
          <ion-label><strong>Peso:</strong></ion-label>
          {{ pokemon.weight / 10 }} kg
        </ion-item>

        <ion-item>
          <ion-label><strong>Experiência base:</strong></ion-label>
          {{ pokemon.base_experience }}
        </ion-item>

        <ion-item>
          <ion-label><strong>Stats:</strong></ion-label>
        </ion-item>
        <ion-item *ngFor="let stat of pokemon.stats">
          <ion-label class="capitalize">{{ stat.stat.name }}: {{ stat.base_stat }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="isLoading">
  <ion-spinner name="crescent" class="spinner-center"></ion-spinner>
</ion-content>
